.boba-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.boba-layer {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: scroll;
}

/* Dark Mode title */
.boba-title {
  margin: 200px 0 0 0;
}
.boba-title p {
  color: #42682f;
  font-size: 200px;
  font-weight: 400;
  line-height: 116px;
  position: relative;
  text-align: center;
  font-family: "Yeseva One", cursive;
}
/* .title hr {
  margin: -80px 360px 80px 360px;
} */

.boba-columns-container {
  margin: 0 280px 0 280px;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  column-gap: 90px;
}

.boba-column-language {
  grid-column: 1;
  grid-row: 1/2;
}
.boba-column-language p {
  left: -260px;
  top: -50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.boba-column-about {
  grid-column: 2;
  grid-row: 1/2;
  text-align: left;
}
.boba-column-about p {
  left: -260px;
  top: -50px;
  font-size: 17px;
  color: black;
  line-height: 29px;
}
.boba-description p {
  font-weight: bold;
  font-size: 20px;
}

.boba-language li {
  font-size: 17px;
  list-style-type: circle;
  color: black;
  line-height: 29px;
}

.dark-link {
  font-size: 70px;
  font-weight: 400;
  line-height: 116px;
  text-align: center;
  /* height: 160px; */
  /* position: relative; */
  margin-top: 80px;
}
.dark-link a {
  text-decoration: none;
  color: #42682f;
}

img {
  width: 80%;
  /* height: 650px; */
  /* overflow: hidden; */
  object-fit: contain;
}

sup {
  font-size: 17px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  margin-top: 80px; */
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  margin-top: 80px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 90px;
  font-size: 2.2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 90px;
  font-size: 2.2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.08);
}

/* .boba-project-video {
  text-align: center;
  margin-top: 80px;
} */

.bobatracker-link a {
  font-size: 17px;
  color: black;
}
