.darkmode-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.darkmode-layer {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/* Dark Mode title */
.one {
  margin: 200px 0 0 0;
}
.two {
  margin: 100px 0 200px 0;
}
.title p {
  color: #42682f;
  font-size: 210px;
  font-weight: 400;
  line-height: 116px;
  position: relative;
  text-align: center;
  font-family: "Yeseva One", cursive;
}

.columns-container {
  margin: 0 280px 0 280px;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  column-gap: 90px;
}

.column-language {
  grid-column: 1;
  grid-row: 1/2;
}
.column-language p {
  left: -260px;
  top: -50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.column-about {
  grid-column: 2;
  grid-row: 1/2;
  text-align: left;
}
.column-about p {
  left: -260px;
  top: -50px;
  font-size: 17px;
  color: black;
  line-height: 29px;
}
.description p {
  font-weight: bold;
  font-size: 20px;
}

.language li {
  font-size: 17px;
  list-style-type: circle;
  color: black;
  line-height: 29px;
}

.boba-end {
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  margin-top: 100px;
}
.boba-end a {
  text-decoration: none;
  color: #42682f;
}
.boba-next {
  font-weight: bold;
}
.boba-link {
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: bold;
}

.project-video {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}


/* Responsive -------------------------------------------------- */
@media screen and (min-width: 100rem) {
  .columns-container {
    margin-left: 22%;
    margin-right: 26%;
  }
}

@media screen and (max-width: 65rem) {
  .columns-container {
    margin-left: 10%;
    margin-right: 16%;
  }
}

/* IPAD */
@media screen and (max-width: 55rem) {
  .title {
    margin: -80px 0 -50px 0;
  }
  .title p {
    font-size: 150px;
    line-height: 50px;
  }
  .columns-container {
    height: 100%;
    margin-left: 10%;
    margin-right: 16%;
    margin-bottom: -190px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .column-language{
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
  }
  .column-language p {
    font-size: 19px;
  }
  .language li {
    font-size: 17px;
    line-height: 29px;
  }
  .vane{
    flex: 50%;
  }
  .column-about {
    grid-column: 1;
    grid-row: 2/3;
    text-align: left;
    margin-top: -190px;
  }
  .column-about p {
    font-size: 17px;
    line-height: 29px;
  }
  .description p {
    font-size: 19px;
  }
  .project-video video{
    width: 100%;
  }
  .project-video{
    margin-top: -70px;
  }
  .boba-end {
    font-size: 40px;
    line-height: 48px;
    margin: 80px 0 0 0;
  }
  .boba-link {
    font-size: 18px;
  }
}

@media screen and (max-width: 45rem) {
  .title {
    margin: -80px 0 -50px 0;
  }
  .title p {
    font-size: 150px;
  }
  .columns-container {
    margin-bottom: -180px;
  }
  .column-about {
    margin-top: -200px;
  } 
  .project-video{
    margin-top: -240px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -50px 0 0 0;
  }
}

/* Surface Duo */
@media screen and (max-width: 40rem) {
  .title {
    margin: -80px 0 -70px 0;
  }
  .title p {
    font-size: 120px;
    line-height: 10px;
  }
  .columns-container {
    margin-bottom: -210px;
  }
  .column-language p {
    font-size: 17px;
  }
  .language li {
    font-size: 16px;
    line-height: 27px;
  }
  .column-about {
    margin-top: -190px;
  }
  .column-about p {
    font-size: 16px;
    line-height: 27px;
  }
  .description p {
    font-size: 17px;
  }
  .project-video{
    margin-top: -250px;
  }
  .boba-end {
    font-size: 36px;
    line-height: 45px;
    margin: -50px 0 0 0;
  }
  .boba-link {
    font-size: 16px;
  }
}

/* iphone 12 pro max, iphone 13 pro max */
@media screen and (max-width: 428px) and (device-height : 926px)  {
  .column-about {
    margin-top: -225px;
  }
  .columns-container {
    margin-bottom: -360px;
  }
  .project-video{
    margin-bottom: 30px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end{
    margin: -70px 0 -20px 0;
  }
  
}

/* iPhone 11, 11 Pro Max, XR, S20, A51/71 */
@media screen and (max-width: 414px) and (device-height : 896px)  {
  .title {
    margin: -80px 0 -80px 0;
  }
  .title p {
    font-size: 90px;
    line-height: 0;
  }
  .columns-container {
    margin-bottom: 150px;
  }
  .column-about {
    margin-top: -215px;
  }
  .project-video{
    margin-top: -450px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -120px 0 -15px 0;
  }
}


/* iphone 8 plus */
@media screen and (max-width: 414px) and (device-height : 736px)  {
  .column-about {
    margin-top: -160px;
  }
  .columns-container {
    margin-bottom: 60px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -120px 0 -15px 0;
  }
}

/* 13, 13 Pro, 12, 12 Pro, Pixel 5 */
@media screen and (max-width: 390px) and (device-height : 844px)  {
  .title {
    margin: -80px 0 -80px 0;
  }
  .columns-container {
    margin-bottom: 160px;
  }
  .column-about {
    margin-top: -190px;
  }
  .project-video{
    margin-top: -430px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -150px 0px 0px 0px;
  }
}

/* iPhone 11 Pro, 11 X, 13 Mini, 12 Mini, X, XS */
@media screen and (max-width: 375px) and (device-height : 812px)  {
  .title {
    margin: -80px 0 -80px 0;
  }
  .title p{
    font-size: 90px;
  }
  .columns-container {
    margin-bottom: 195px;
  }
  .column-about {
    margin-top: -165px;
  }
  .project-video{
    margin-top: -430px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -150px 0px 0px 0px;
  }
}

/* SE + 7, 8 */
@media screen and (max-width: 375px) and (device-height : 667px)  {
  .title {
    margin: -80px 0 -80px 0;
  }
  .title p {
    font-size: 80px;
  }
  .columns-container {
    margin-bottom: 70px;
  }
  .column-about {
    margin-top: -130px;
  }
  .project-video{
    margin-top: -220px;
    margin-bottom: 40px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -115px 0 -25px 0;
  }
}

/* Samsung 8+ */
@media screen and (max-width: 23rem) {
  .columns-container {
    margin-bottom: 30px;
  }
  .column-about {
    margin-top: -160px;
  }
  .project-video{
    /* margin-top: -220px; */
    margin-bottom: 40px;
  }
  .project-video video{
    width: 90%;
  }
  .boba-end {
    margin: -120px 0 -25px 0;
  }
}

/* Galaxy fold */
@media screen and (max-width: 22rem) {
  .columns-container {
    margin-bottom: -240px;
  }
  .column-about {
    margin-top: -185px;
  }
  .project-video{
    margin-bottom: 40px;
  }
  .boba-end {
    margin: -150px 0 0 0;
  }
}