.darkmode-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.darkmode-layer {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: scroll;
}

/* Dark Mode title */
.one {
  margin: 200px 0 0 0;
}
.two {
  margin: 100px 0 200px 0;
}
.title p {
  color: #42682f;
  font-size: 210px;
  font-weight: 400;
  line-height: 116px;
  position: relative;
  text-align: center;
  font-family: "Yeseva One", cursive;
}
/* .title hr {
  margin: -80px 360px 80px 360px;
} */

.columns-container {
  margin: 0 280px 0 280px;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  column-gap: 90px;
}

.column-language {
  grid-column: 1;
  grid-row: 1/2;
}
.column-language p {
  left: -260px;
  top: -50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.column-about {
  grid-column: 2;
  grid-row: 1/2;
  text-align: left;
}
.column-about p {
  left: -260px;
  top: -50px;
  font-size: 17px;
  color: black;
  line-height: 29px;
}
.description p {
  font-weight: bold;
  font-size: 20px;
}

.language li {
  font-size: 17px;
  list-style-type: circle;
  color: black;
  line-height: 29px;
}

.boba-link {
  font-size: 70px;
  font-weight: 400;
  line-height: 116px;
  text-align: center;
  /* height: 160px; */
  /* position: relative; */
  margin-top: 80px;
}
.boba-link a {
  text-decoration: none;
  color: #42682f;
}

img {
  width: 100%;
  /* height: 650px; */
  /* overflow: hidden; */
  object-fit: contain;
}

sup {
  font-size: 17px;
}

/* .project-image {
  text-align: center;
  margin-top: 80px;
} */

.project-video {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

/*  */
/* .darkmode-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.darkmode-layer {
  position: relative;
  background-color: black;
  height: 100%;
  overflow: scroll;
}

.title {
  margin: 200px 0 0 0;
}
.title p {
  color: white;
  font-size: 200px;
  font-weight: 400;
  line-height: 116px;
  position: relative;
  text-align: center;
}
.title hr {
  margin: -80px 450px 80px 450px;
}

.columns-container {
  margin: 0 450px 0 450px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  column-gap: 90px;
}

.column-language {
  grid-column: 1;
  grid-row: 1/2;
}
.column-language p {
  left: -260px;
  top: -50px;
  font-size: 23px;
  color: white;
  font-weight: bold;
}

.column-about {
  grid-column: 2;
  grid-row: 1/2;
  text-align: left;
}
.column-about p {
  left: -260px;
  top: -50px;
  font-size: 23px;
  color: white;
  line-height: 29px;
}
.description p {
  font-weight: bold;
}

.language li {
  font-size: 23px;
  list-style-type: circle;
  color: white;
  line-height: 29px;
}

.boba-link {
  font-size: 138px;
  font-weight: 400;
  line-height: 116px;
  text-align: center;
  margin-top: 80px;
}
.boba-link a {
  text-decoration: none;
  color: white;
}

img {
  width: 50%;
  height: 40%;
}

.project-image {
  text-align: center;
  margin-top: 80px;
} */
