@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yeseva+One&display=swap");

.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.menu-layer {
  position: relative;
  /* background-color: #000000; */
  /* background-color: #9bb649; */
  /* background-color: #f8fbe8; */
  background-color: #42682f;
  height: 100%;
  overflow: hidden;
}

/*  vertical and horizontal centering of links */
.menu-links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* text align: moves links to center of page
if not here then links positioned at left side of page */
nav {
  /* commenting out bc i dont know what dispaly block does */
  /* display: block; */
  text-align: center;
}

/* stylyng of the 3 links */
.menu-links li {
  list-style: none;
  font-size: 8rem;
  height: 160px;
  position: relative;
}

/* link text = white, there is no line under links */
.menu-links a {
  color: white;
  text-decoration: none;
  font-family: "Yeseva One", cursive;
}

/* text turns pink when hovering */
.menu-links a:hover {
  color: white;
}

/* --------------------------------------------------- 
.home:hover {
  color: #fba24f;
}
.about:hover {
  color: #5b59f3;
}
.experience:hover {
  color: #ff7e5b;
} 
------------------------------------------------------ */
