@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yeseva+One&display=swap");

.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.menu-links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-layer {
  position: relative;
  overflow: hidden;
  background-color: #42682f;
  height: 100%;
}

nav {
  text-align: center;
}

.menu-links li {
  list-style: none;
  font-size: 15vmin;
  height: 20vmin;
  position: relative;
  margin-right: 45px;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-family: "Yeseva One", cursive;
  overflow: hidden;
}

span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #42682f;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background:#fff;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* rules here apply to devices from 0px to 43rem */
@media (max-width: 43rem) {
  .menu-links li {
    list-style: none;
    position: relative;
    overflow: hidden;
  }
}

