@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import "media-queries";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container {
  /* background: linear-gradient(-45deg, #7cb5e8, #9bb649, #42682f, #f9db5a); */
  background: linear-gradient(-45deg, #fdc9ff,#C1D3F5, #C174C4);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.home-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  /* (A) SAME WIDTH & HEIGHT - SQUARE */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 270px;
  /* (B) 50% RADIUS = CIRCLE */
  border-radius: 50%;
  background: transparent;
  border-style: solid;
  border-color: black;
  /* border: solid 2px; */
}

.name,
.portfolio,
.welcome {
  text-align: center;
}

.name p {
  /* position: relative; */
  /* font-size: 283px; */
  /* top: 200px; */
  /* font-weight: 800; */
  font-size: 100px;
  font-weight: bold;
  /* font-family: "Alfa Slab One", cursive; */
  color: white;
  line-height: 0px;
  font-family: "Gayathri", sans-serif;
}

.portfolio {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  /* margin-top: -50px; */
}
.welcome {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  margin-top: -20px;
}

@media (max-width: 43rem) {
  .circle {
    /* (A) SAME WIDTH & HEIGHT - SQUARE */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 365px;
    height: 170px;

    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;
    background: transparent;
    border-style: solid;
    border-color: black;
  }
  .name p {
    font-size: 60px;
    font-weight: bold;
    color: white;
    line-height: 0px;
    font-family: "Gayathri", sans-serif;
  }

  .portfolio {
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    /* margin-bottom: 30px; */
    /* margin-bottom: 50px; */
    margin-bottom: 100px;
  }
  .welcome {
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    margin-top: 90px;
  }
}

/* @media screen and (max-width: 601px) {
  div.home-text a {
    font-size: 77px;
  }
  div.home-wrapper {
    margin-bottom: -1.5em;
  }
  div.home-container {
    background-color: goldenrod;
  }
} */
