@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import "media-queries";

@font-face {
  font-family: "PPMori";
  src: url("../fonts/PPMori-Regular.otf") format('truetype');
}
@font-face {
  font-family: "PPMori-Light";
  src: url("../fonts/PPMori-Extralight.otf") format('truetype');
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-section{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-container {
  background: linear-gradient(-45deg, #6e4825, 
  #0a3e3e, #0a3b1b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  top: 0;
  left: 0;
  right: 0;
  height: 85vmin;
  width: 190vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5vmin;
}
.gradient-container section{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gradient-container h1, .gradient-container h2, .gradient-container a{
  font-family: 'PPMori';
  color: whitesmoke;
}
.gradient-container h1{
  font-size: 10vmin;
}
.gradient-container h2, .gradient-container a{
  font-size: 4vmin;
  font-family: 'PPMori-Light';
}
.gradient-container ul{
  list-style: none;
  padding-left: 0;
}
.gradient-container a{
  text-decoration: none;
}
.visitor-greeting h1{
  text-align: center;
}
 
/* HOVER effect over links ---------------------- */
.links{
  margin-left: 5vmin;
}
.links span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.links span:before, .links span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0.2vmin;
  top: 50%;
  background: #42682f;
}
.links span:before {
  left: -2.6px;
}
.links span:after {
  right: 2.6px;
  background:#fff;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.links span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.links span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* bottom section PROJECTS ------------------------------ */
.home-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vmin;
}
.home-projects h2{
  font-size: 4.5vmin;
}
/* ROW = feat projects + 3 boxes */
.home-projects section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* COLUMN = image + proj name + git */
.project-one, .project-two, .project-three{
  height:45vmin;
  width: 48vmin;
  border-radius: 4vmin;
  border: 0.2vmin solid #e5e5e5;
  display: flex;
  flex-direction: column;
  /* horizontal + vertical align */
  justify-content: center;
  align-items: center;
  margin: 2vmin;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.project-one a, .project-two a, .project-three a{
  /* github + demo text links */
  text-decoration: none;
  color: black;
}
.project-one h3, .project-two h3, .project-three h3{
  /* project name font size */
  font-size: 3vmin;
}
.project-one span, .project-two span, .project-three span{
  /* github + demo font */
  font-size: 2.5vmin;
}
.project-one img, .project-two img, .project-three img{
  width: 44vmin;
  border-radius: 2vmin;
}

/* Project name + github + demo */
.proj-one-text, .proj-two-text, .proj-three-text{
  display:flex;
  flex-direction: row;
  align-items: center;
}

/* github + demo */
.git-demo{
  display: flex;
  flex-direction: column;
  margin-left: 5vmin;
}

/* hover effect on projects */
.project-one:hover, .project-two:hover, .project-three:hover{
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  /* transform creates illusion of box being lifted */
  transform: translateY(-5px);
}



