@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap");

.container {
  padding: 1.5vmin 9vmin;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.logo a, .navMenu button{
  color: black;
  font-size: 3vmin;
  font-family: "Gayathri", sans-serif;
}

.navMenu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
}