@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap");

.container {
  padding: 2vmin 9vmin;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  a, button{
    font-size: 18px;
    // font-size: 3vmin;
    font-family: "Gayathri", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.navMenu {
  button{
    border: none;
    background: none;
    cursor: pointer;
  }
}

.white-text a, button.white-text {
  color: white;
}

// Media Queries 
@media screen and (max-width: 50rem) {
  .container{
    a, button{
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 40rem) {
  .container{
    a, button{
      font-size: 16px;
    }
  }
}
  
@media screen and (max-width: 35rem) {
  .container{
    a, button{
      font-size: 15px;
    }
  }
}
