/* style sheet for navbar
chnages made here will only affect navbar at top of page
*/

/* .container {
  width: 1280px;
  min-width: 1280px;
} */

.container {
  padding: 0 80px;
  position: relative;
  z-index: 10;
  height: 100px;
  display: flex;
}

/* for menu button */
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 19px;
  mix-blend-mode: difference;
  /* color: #23d5ab; */
  color: #322a23;
}
