/* style sheet for navbar
chnages made here will only affect navbar at top of page
*/

/* .container {
  width: 1280px;
  min-width: 1280px;
} */

@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap");

.container {
  padding: 0 60px;
  position: relative;
  z-index: 10;
  height: 50px;
  display: flex;
  float: right;
}

/* for menu button */
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Gayathri", sans-serif;
  /* mix-blend-mode: difference; */
  /* color: #23d5ab; */
  color: black;
}
