// Fonts
@import "https://fonts.googleapis.com/css2?family=Gayathri:wght@100;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yeseva+One&display=swap";
@import "media-queries";

@font-face {
  font-family: "PPMori";
  src: url("./fonts/PPMori-Regular.otf") format('truetype');
}
@font-face {
  font-family: "PPMori-Light";
  src: url("./fonts/PPMori-Extralight.otf") format('truetype');
}
@font-face {
  font-family: "PPMori-Bold";
  src: url("./fonts/PPMori-SemiBold.otf") format('truetype');
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1, .projects-info, .projects-images{
        width: 900px;
    }

    h1{
        font-size: 140px;
        line-height: 182px;
        color: #42682f;
        text-align: center;
    }
    h2{
        font-size: 18px;
        font-family: 'PPMori';
    }
    p, li, .projects-links a{
        font-family: 'PPMori-light';
        font-size: 16px;
        line-height: 24px;
        color: black;
    }
}

.projects-footer{
    margin-bottom: 5vmin;
    a{
        display: block;
        text-align: center;
        font-size: 46px;
        line-height: 69px ;
        font-weight: bold;
        text-decoration: none;
        color: #42682f;
    }
    a:nth-child(2){
        font-size: 24px;
    }
}

.projects-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
        list-style-type: circle;
    }
}

.projects-tech-stack{
    display: flex;
    flex-direction: column;
}

.projects-about{
    width: 60%;
}

.projects-images{
    margin: 10vmin 0;
    img{
        width: 100%;
    }
    section{
        display: flex;
        justify-content: center;
    }
}
.projects-left-arrow, .projects-right-arrow{
    font-size: 2.2rem;
    margin: 2vmin;
    border-radius: 2vmin;
    border: 0.5vmin solid #42682f;
}



// MEDIA QUERIES
@media screen and (max-width: 65rem) {
    .projects-container{
        h1, .projects-info, .projects-images{
            width: 850px;
        }
        h1{
            font-size: 125px;
            line-height: 162px;
        }
    }
    .projects-left-arrow, .projects-right-arrow{
        font-size: 2.1rem;
        margin: 1.9vmin;
        border-radius: 2vmin;
        border: 0.5vmin solid #42682f;
    }
}
 
@media screen and (max-width: 55rem) {
    .projects-container{
        h1, .projects-info, .projects-images{
            width: 750px;
        }
        h1{
            font-size: 110px;
            line-height: 143px;
        }
        h2{
            font-size: 17px;
        }
        p, li, .projects-links a{
            font-size: 15px;
            line-height: 25px;
        }
    }
    .projects-left-arrow, .projects-right-arrow{
        font-size: 2rem;
        border-radius: 1.8vmin;
        border: 0.48vmin solid #42682f;
    }
    .projects-footer{
        a{
            font-size: 44px;
            line-height: 66px ;
        }
    }
}

@media screen and (max-width: 50rem) {
    .projects-container{
        h1, .projects-info, .projects-images{
            width: 650px;
        }
        h1{
            font-size: 105px;
            line-height: 136.5px;
        }
        h2{
            font-size: 16px;
        }
        p, li, .projects-links a{
            font-size: 14px;
            line-height: 23px;
        }
    }
    .projects-footer{
        a{
            font-size: 40px;
            line-height: 60px ;
        }
    }
}

@media screen and (max-width: 45rem) {
    .projects-container{
        h1, .projects-info, .projects-images{
            width: 550px;
        }
        h1{
            font-size: 95px;
            line-height: 123.5px;
        }
        h2{
            font-size: 15px;
        }
        p, li, .projects-links a{
            font-size: 14px;
            line-height: 23px;
        }
    }.projects-left-arrow, .projects-right-arrow{
        font-size: 1.8rem;
        border-radius: 1.7vmin;
    }
    .projects-info{
        display: flex;
        flex-direction: column;
    }
    .projects-about{
        width: 100%;
    }
    .projects-footer{
        a{
            font-size: 38px;
            line-height: 50px ;
        }
        a:nth-child(2){
            font-size: 22px;
        }
    }
}
  
@media screen and (max-width: 40rem) {
    .projects-container{
        h1, .projects-info, .projects-images{
            width: 400px;
        }
        h1{
            font-size: 85px;
            line-height: 110.5px;
        }
        h2{
            font-size: 13px;
        }
        p, li, .projects-links a{
            font-size: 12px;
            line-height: 20px;
        }
    }
    .projects-left-arrow, .projects-right-arrow{
        font-size: 1.2rem;
        padding: 0.5vmin;
        border: 0.4vmin solid #42682f;
    }
    .projects-footer{
        a{
            font-size: 29px;
            line-height: 39px ;
        }
        a:nth-child(2){
            font-size: 19px;
        }
    }
}
  
@media screen and (max-width: 26rem) {
    h1, .projects-info, .projects-images{
        width: 400px;
    }
    h1{
        font-size: 70px;
        line-height: 91px;
    }
    .projects-footer{
        a{
            font-size: 28px;
            line-height: 38px ;
        }
        a:nth-child(2){
            font-size: 19px;
        }
    }
}